*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


html,
body,
#root {
  width: 100%;
  overflow-x: hidden;
}


body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: linear-gradient(to bottom, #0a0f1a, #050a12);
  color: #f0f4f8; 
}

